// WideScreans
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    .sm-heading {
      margin-left: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../img/foto.jpg);
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .bg-modal {
    .modal-content {
      width: 27rem;
      height: 17rem;
      padding: 1rem;

      .md-modal {
        padding: 1.5rem;
      }
      .sm-modal {
        display: block;
        margin: 1rem;
      }
    }
  }
}

//Smartphones
@include mediaSm {
  .menu-branding {
    .portrait {
      background: $sm-portrait-image;
    }
  }
  main {
    .sm-heading {
      margin-left: 1rem;
    }
  }

  main#home h1 {
    margin-top: 10vh;
  }
  .about-info {
    .bio-image {
      width: 250px;
      height: 250px;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes {
    div {
      font-size: 1.4rem;
    }
  }
  .bg-modal {
    height: 136%;
    .modal-content {
      width: 22rem;
      height: 14rem;
      padding: 1rem;

      .md-modal {
        color: $primary-color;
        padding: 0.5rem;
      }
      .sm-modal {
        display: block;
        margin: 0.5rem;
      }
    }
  }
}
